<% h1 ||= "CLAIM YOUR DISCOVERIES" %>

<div class="header center">
  <h1 class="font-huge"><%= h1 %></h1>
  <h2 class="font-large">
    <a href="http://www.no-mans-sky.com/" class="no-link" target="_blank">No Man's Sky</a>
  </h2>
</div>