<%= render 'partials/header_one', h1: "LATEST EXPLORERS" %>

<div class="center center-box">
  <% @explorers.each do |explorer| %>
    <p>
    	<span class='left'><%= explorer.name %></span>
    	<span class='center'>~</span>
    	<span class='right'><%= explorer.created_at.to_date %></span>
    </p>
  <% end %>
</div>