
<div class="header center">
  <form
    action="/explorers",
    notice='Welcome new explorer!',
    method="put">
    <div class="margin-pad">
      <input class="font-medium" type='name' 
        name='explorer[name]' placeholder='Name' required>
      <input class="font-medium" type='email' 
        name='explorer[email]' placeholder='Email' required>
    </div>
    <button class="btn font-medium" type='submit'>Sign Up</button>
  </form>
</div>