
<div class="header center">
  <form
    action="/explorers",
    notice='Welcome new explorer!',
    method="put">
    <div class="field margin-pad">
      <input type='name' 
        name='explorer[name]' placeholder='Name' required>
      <input type='email' 
        name='explorer[email]' placeholder='Email' required>
    </div>
    <button class="btn" type='submit'>New Explorer</button>
  </form>
</div>