<%= render 'partials/header_one', h1: "CLAIM YOUR DISCOVERIES" %>

<% unless current_explorer %>
	<div class="center">
	  <%= link_to "Become an Explorer", new_explorer_registration_path, class: "btn font-medium" %>
	</div>
<% end %>