<%= render 'partials/header_one', h1: "RECENT DISCOVERIES" %>

<div class="center center-box">
	<ul>
		<% @discoveries.each do |discovery| %>
		  <li>
		  	<span class='floatl'><%= discovery.name %></span>
		  	<span class='floatr'><%= discovery.explorer && discovery.explorer.email %></span>
		  </li>
		  <br>
		<% end %>
	</ul>
</div>