<%= render 'partials/header_one', h1: "RECENT DISCOVERIES" %>

<div class="center center-box">
  <% @discoveries.each do |discovery| %>
    <p class='left'><%= discovery.name %></p>
  <% end %>
</div>