<div class="floatr center">
   
  <%= form_for(@discovery) do |f| %>
    <div class="field margin-pad">
      <%= f.text_field :name, placeholder: 'Name', required: true  %>
      <%= f.hidden_field :explorer_id, value: current_explorer.id %>
    </div>
    <%= f.submit 'Claim my Discovery', class: 'btn' %>
  <% end %>

</div>