<!-- get :explorer_id from current_user with devise -->
<div class="floatr center">
  <form 
    action="/discoveries", 
    notice='Discovery posted!',
    method="put">
    <div class="field margin-pad">
      <input type='name' name='discovery[name]' placeholder='Name' required>
      <input type='hidden' name='discovery[explorer_id]' value="">
    </div>
    <button class="btn" type='submit'>Claim my Discovery!</button>
  </form>
</div>