<div class='nav'>
  <ul>
    <li><%= link_to "Discoveries", discoveries_path %></li>
    <li><%= link_to "Explorers", explorers_path %></li>
    <li class="floatr"><%= link_to "New Discovery", new_discovery_path %></li>
  </ul>
</div>